body {
    font-family: sans-serif;
    background-color: #F2F4F4;
}
            
table {
    border-collapse: collapse;
}
            
table, th, td {
    border: 1px solid black;
}
            
th, td {
    padding: 20px;
    text-align: left;
}

a:link, a:visited {
    background-color: #808B96;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #7FB3D5;
}

.fieldset {
    color: gray;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    width: 25%;
    margin-top: 40px;
}
            
.footer {
    font-style: italic;
    font-size: small;
    margin-top: 20px;
}